*
!.gitignore
!.editorconfig
!.prettierrc
!.golangci.yml

!*.go
!go.mod
!go.sum
!*.templ
!tsconfig.json

!*/
!*/*.go
!*/go.mod
!*/go.sum
!*/*.templ

!*.md

!resources/
!resources/*
!resources/*/*
!resources/*/*/*

!.github
!.github/workflows
!.github/workflows/*.yml